{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">

  <div class="row">
    {% for post in object_list %}
    <div class="card col-lg-6 offset-lg-3 mb-3">
      {% if post.image %}
      <img class="card-img-top mt-3" src="{{ post.image.url }}" alt="{{ post.title }}">
      {% endif %}
      <div class="card-body">
        <a href="{% url 'post' post.id post.slug %}">
          <h2 class="card-title my-3">{{ post.title }} </h2>
        </a>
        <div class="text-muted mb-3">
          <div>
            <span>Создан: {{ post.created_on|date:'d.m.Y' }} |</span>
            <span>Автор: {{ post.author }}</span>
          </div>
        </div>
        <p class="card-text">{{ post.content|truncatewords:20 }}</p>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
{% endblock %}